:root {
  --theme-font-family: "Open Sans", sans-serif;
  /* Use theme font family here */
  --theme-font-size: 0.875rem;
  /* Use theme font size here */
  --theme-font-weight: 700;
  /* Use theme font weight here */
  --theme-font-color: var(--white);
  /* Use theme font color here */
  /* h1 */
  --theme-h1-font-size: 62px;
  /* use h1 font size here */
  --theme-h1-font-weight: 700;
  /* use h1 font weight here */
  --theme-h1-font-color: var(--white);
  /* use h1 font color here */
  --theme-h1-font-family: "Open Sans", sans-serif;
  /* use h1 font family here */
  --theme-h1-font-style: normal;
  /* use h1 font style here */
  --theme-h1-line-height: 80px;
  /* h2 */
  --theme-h2-font-size: 58px;
  /* use h2 font size here */
  --theme-h2-font-weight: 700;
  /* use h2 font weight here */
  --theme-h2-font-color: var(--white);
  /* use h2 font color here */
  --theme-h2-font-family: "Open Sans", sans-serif;
  /* use h2 font family here */
  --theme-h2-line-height: 72.5px;
  /* h3 */
  --theme-h3-font-size: 48px;
  /* use h3 font size here */
  --theme-h3-font-weight: 700;
  /* use h3 font weight here */
  --theme-h3-font-color: var(--white);
  /* use h3 font color here */
  --theme-h3-font-family: "Open Sans", sans-serif;
  /* use h3 font family here */
  --theme-h3-line-height: 57.6px;
  /* h4 */
  --theme-h4-font-size: 36px;
  /* use h4 font size here */
  --theme-h4-font-weight: 700;
  /* use h4 font weight here */
  --theme-h4-font-color: var(--dark-blue);
  /* use h4 font color here */
  --theme-h4-font-family: "Open Sans", sans-serif;
  /* use h4 font family here */
  --theme-h4-line-height: 43px;
  /* h5 */
  --theme-h5-font-size: 24px;
  /* use h5 font size here */
  --theme-h5-font-weight: 700;
  /* use h5 font weight here */
  --theme-h5-font-color: var(--white);
  /* use h5 font color here */
  --theme-h5-font-family: "Open Sans", sans-serif;
  /* use h5 font family here */
  --theme-h5-line-height: 27px;
  /* h6 */
  --theme-h6-font-size: 20px;
  /* use h6 font size here */
  --theme-h6-font-weight: 600;
  /* use h6 font weight here */
  --theme-h6-font-color: var(--white);
  /* use h6 font color here */
  --theme-h6-font-family: "Open Sans", sans-serif;
  /* use h6 font family here */
  --theme-h6-line-height: 30px;
  /* p */
  --theme-p-font-size: 22px;
  /* use p font size here */
  --theme-p-font-weight: 400;
  /* use p font weight here */
  --theme-p-font-color: var(--grey);
  /* use p font color here */
  --theme-p-font-family: "Inter", sans-serif;
  /* use p font family here */
  --theme-p-line-height: 40px;
  /*second p */
  --theme-second-p-font-size: 18px;
  /* use second p font size here */
  --theme-second-p-font-weight: 400;
  /* use second p font weight here */
  --theme-second-p-font-color: var(--blue);
  /* use second p font color here */
  --theme-second-p-font-family: "Inter", sans-serif;
  /* use second p font family here */
  --theme-second-p-line-height: 27px;
  /*third p */
  --theme-third-p-font-size: 18px;
  /* use third p font size here */
  --theme-third-p-font-weight: 400;
  /* use third p font weight here */
  --theme-third-p-font-color: var(--blue);
  /* use third p font color here */
  --theme-third-p-font-family: "Inter", sans-serif;
  /* use third p font family here */
  --theme-third-p-line-height: 18px;
  /*fourth p */
  --theme-fourth-p-font-size: 17px;
  /* use fourth p font size here */
  --theme-fourth-p-font-weight: 400;
  /* use fourth p font weight here */
  --theme-fourth-p-font-color: var(--blue);
  /* use fourth p font color here */
  --theme-fourth-p-font-family: "Inter", sans-serif;
  /* use fourth p font family here */
  --theme-fourth-p-line-height: 18px;
  /*fifth p */
  --theme-fifth-p-font-size: 16px;
  /* use fifth p font size here */
  --theme-fifth-p-font-weight: 400;
  /* use fifth fifth p font weight here */
  --theme-fifth-p-font-color: var(--blue);
  /* use fifth p font color here */
  --theme-fifth-p-font-family: "Open Sans", sans-serif;
  /* use fifth p font family here */
  --theme-fifth-p-line-height: 23px;
  /* a tag */
  --theme-anchor-color: var(--theme-primary-color);
  /* Use anchor tag color here */
  --theme-anchor-hover-color: #1a202c;
  /* Use anchor tag hover color here */
  --theme-primary-color: #080d22;
  /* Use theme primary color here */
  --theme-primary-bgcolor: #080d22;
  /* Use theme primary background color here */
  --theme-secondary-color: #d9e70c;
  /* Use theme secondary color here */
  --theme-secondary-bgcolor: #d9e70c;
  /* Use theme secondary background color here */
  --theme-tertiary-color: #00398f;
  /* Use theme tertiary color here */
  --theme-tertiary-bgcolor: #00398f;
  /* Use theme tertiary background color here */
  --theme-box-shadow-primary-color: rgba(107, 124, 141, 0.08);
  /* Use theme primary box shadow color here */
  --theme-box-shadow-secondary-color: rgba(107, 124, 141, 0.25);
  /* Use theme secondary box shadow color here */
  --theme-header-box-shadow-color: rgba(0, 0, 0, 0.1);
  /* Use theme header box shadow color here */
  ---theme-facebook-color: #193e91;
  /* Use theme facebook color here */
  ---theme-twitter-color: #00acee;
  /* Use theme twitter color here */
  ---theme-linkedin-color: #0077b5;
  /* Use theme linkedin color here */
  /* Use other color variables for the theme */
  --dark-black: #000000;
  --black: #333333;
  --blue: #00192c;
  --dark-blue: #002642;
  --second-blue: #335168;
  --white: #fff;
  --second-white: #f8f8f8;
  --grey: #d9dde0;
  --yellow: #ffcd01;
  --second-grey: #9c9c9c;
  --third-grey: #4b6579;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
